html{
    background-color: #2F3939;
}

.grid{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 50%;
    margin-left: 16%;
    margin-top: 0;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .header{
      text-align: center;
      color: crimson;
      font-size: 50px;
  }

  #ross{
      height: 240px;
  }

  a{
      text-decoration: none;
  }

  .custom {
      text-align: center;
      color:goldenrod;
  }